body {
  font-family: 'Roboto', sans-serif;
  background: lightgrey;
}

#mark {
  font-family: 'VT323', monospace;
  display: inline-block;
}

.nav_bar {
  padding: 10px;
  margin: auto;
  width: 100%;
  background-color: #039be5;
  box-sizing: border-box;
  box-shadow: 0 1px 10px;
  position: sticky;
}

.nav_container {
  max-width: 900px;
  margin: auto;
}

.nav_bar a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.nav_bar .logo {
  font-size: 40px;
    font-family: 'Space Mono', monospace;
}

.nav_item {
  float: right;
  margin: 0 5px;
  padding: 10px;
  transition: background-color 0.5s;
}

.nav_item:hover {
  background-color: #63ccff;
}

.content {
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
}

.project {
  padding: 10px;
}

.image_resp {
  width: 100%;
  height: auto;
}

.image_project {
  width: 400px;
  position: relative;
}

.image_overlay {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project:hover .image_overlay {
  opacity: 0.5;
}

#about.content {
  padding: 20px;
}